/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foto1 {
    float: left;
}

.container {
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
}

/* .lorem {
    clear: both;
} */

.ciao {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}